<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>email-verification</title>
  </head>
  <body>
    {% for message in messages %}  

      <div class="{{message.tags}}">
        <h5>{{message}}</h5>
      </div>
        
    {% endfor %}
    <h1>Welcome, please signup</h1>
    <form action="" method="POST">
      {% csrf_token %} {% for field in form %} {% if field.errors %}
        
      <div class="mb-3">
        <small>{{field.errors}}</small>
      </div>

      {% else %}

      <div>{{field}}</div>

      {% endif %} {% endfor %}
    </form>
    <button type="submit">Register</button>
  </body>
</html>
